<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{default description site.description}}">
<meta name="author" content="{{default author site.author}}">

<title>{{default title 'Title'}} | {{site.title}}</title>

<!-- Fonts -->
<link href="/source/static/gfonts/gfonts.css" rel="stylesheet" type="text/css">

<!-- Stylesheets -->
<link rel="stylesheet" href="/Static/css/main.css">

<!-- Stylesheet for Høringssvar -->
<link rel="stylesheet" href="/Static/css/hoeringssvar.css">

<!-- Early script includes -->
<!--[if lt IE 9]>
<script src="/Static/js/vendor/respond.js"></script>
<![endif]-->
<script src="/Static/js/vendor/modernizr.custom.71379.js"></script>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/Static/ico/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/Static/ico/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/Static/ico/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/Static/ico/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/Static/ico/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/Static/ico/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/Static/ico/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/Static/ico/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/Static/ico/apple-touch-icon-180x180.png">
<meta name="apple-mobile-web-app-title" content="Regjeringen.no">
<link rel="icon" type="image/png" href="/Static/ico/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/Static/ico/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/Static/ico/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/Static/ico/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/x-icon" href="/Static/ico/favicon.ico" />

<link rel="icon" type="image/png" href="/Static/ico/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#002e5e">
<meta name="msapplication-TileImage" content="/Static/ico/mstile-144x144.png">
<meta name="application-name" content="Regjeringen.no">