<!DOCTYPE html>
<html class="no-js" lang="no">
	<head>
		{{#block "head"}}
			{{> head }}
		{{/block}}

		<!-- BEGIN this is only for bak.regjeringen.no -->
		<meta name="robots" content="noindex, nofollow" />
		<!-- /BEGIN -->
	</head>
	<body class="{{body-class}}">
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<a id="top-of-page" tabindex="-1"></a>
		<a href="#mainContent" class="skipLink">Til hovedinnhold</a>
		<p class="enable-js">Aktiver Javascript i din nettleser for en bedre opplevelse på regjeringen.no</p>
		<header class="pageHeader" role="banner">
			<h2 class="visuallyhidden">Hovednavigasjon og hjelpeverktøy</h2>

			<div class="hygieneMenuWrapper">
				<span data-hygiene-menu-large-sceen-anchor></span>

				<nav class="hygieneMenu" aria-labelledby="hygiene-menu-label" data-hygiene-menu>
					<h2 id="hygiene-menu-label" class="nav-title">Globale verktøy</h2>

					<ul>
						<li class="fontsize">
							<button type="button" id="fontsize_note_label" aria-controls="fontsize_note" aria-expanded="false" data-fontsize-btn>Skriftstørrelse</button>

							<div tabindex="-1" id="fontsize_note" aria-labelledby="fontsize_note_label" data-fontsize-note>
								<p>For å endre tekststørrelsen, hold Ctrl-tasten nede (Cmd-tasten på Mac) og trykk på + for å forstørre eller - for å forminske.</p>
							</div>
						</li>
						<li class="language">
							<button
								type="button"
								id="languageSelectorTrigger"
								lang="no"
								data-toggle-language-selector=""
								aria-expanded="false"
								aria-controls="languageSelector"
								class="language-selector-trigger flag nob"
							><span>Norsk</span></button>
							<ul
								id="languageSelector"
								class="custom-language-selector"
								tabindex="-1"
								aria-labelledby="languageSelectorTrigger"
								data-language-selector=""
							>
								<li class="disabled">
									<span lang="no" class="flag nob">Viser denne siden på norsk</span>
								</li>
								<li>
									<a href="/se/id4/" lang="se-NO" class="flag sme">Čájet dán siiddu sámegillii</a>
								</li>
								<li class="last-in-group">
									<a href="/en/id4/" lang="en-GB" class="flag eng">Show this page in English</a>
								</li>
								<li>
									<a href="/no/id4/" lang="no" class="flag nob">Norsk forside</a>
								</li>
								<li>
									<a href="/se/id4/" lang="se-NO" class="flag sme">Sámegiel álgosiidui</a>
								</li>
								<li>
									<a href="/en/id4/" lang="en-GB" class="flag eng">English home page</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

			<div class="pageHeaderUpper hendelse">
				<div class="logoWrapper">
					<div class="logo">
						<a href="/#section-templates">Regjeringen.no<span></span></a>
					</div>

					<button type="button" class="menuToggler" data-toggle-menu>Meny</button>
					<button type="button" class="searchToggler" data-toggle-search>Søk</button>
				</div>
			</div>

			<div class="mobileMenuContainer">
				<div class="mobileMenuWrapper">
					<div class="mobileMenuWrapperInner">
						<div class="topNavigationSearch">
							<form id="topNavigationSearchForm" action="//www.regjeringen.no/no/sok/id86008/" method="get" autocomplete="off">
								<div class="topNavigationSearchWrap">
									<label for="quickSearch" class="visuallyhidden">Søk</label>
									<input
										type="search"
										id="quickSearch"
										placeholder="Skriv inn søkeord"
										class="quickSearch autocomplete"
										data-form-id="topNavigationSearchForm"
										data-search-suggest="1"
										data-autocomplete-source="https://www.regjeringen.no/api/autosuggestapi/search?q=">
									<div class="search-suggest">
										<p class="legend">Utvalgte hurtiglenker</p>
										<ul class="search-suggest-list" data-search-suggest-list></ul>
									</div>
									<button class="searchSubmit">Søk</button>
								</div>
							</form>
						</div>
					</div>

					<span data-hygiene-menu-small-sceen-anchor></span>

					<nav class="megaMenu" role="navigation" aria-labelledby="mega-menu-label">
						<h2 id="mega-menu-label" class="nav-title">Hovedmeny</h2>

						<ul>
							<li class="megaMenuItem">
								<a href="tema.html" class="primaryMenuItem hasDropdown" id="megamenupanel_tema_label" role="button" aria-controls="megamenupanel_tema">
									Tema
								</a>

								<div class="megamenupanel_listing" id="megamenupanel_tema" aria-labelledby="megamenupanel_tema_label" aria-expanded="false" data-megamenu-target>
									<div class="megamenuInner">
										<div class="border-frame">
											<p class="toSection"><a href="tema.html">Alle tema</a></p>

											<div class="section">
												<ul class="columnize">
													<li><a href="tema.html">Arbeid og velferd</a></li>
													<li><a href="tema.html">Bolig og eiendom</a></li>
													<li><a href="tema.html">Energi</a></li>
													<li><a href="tema.html">Familie og oppvekst</a></li>
													<li><a href="tema.html">Forbruker</a></li>
													<li><a href="tema.html">Forsvars- og sikkerhetspolitikk</a></li>
													<li><a href="tema.html">Helse og omsorg</a></li>
													<li><a href="tema.html">Innvandring og inkludering</a></li>
													<li><a href="tema.html">Internasjonalt</a></li>
													<li><a href="tema.html">Kommuner og distrikter</a></li>
													<li><a href="tema.html">Kultur, fritid og livssyn</a></li>
													<li><a href="tema.html">Likestilling</a></li>
													<li><a href="tema.html">Lov og rett</a></li>
													<li><a href="tema.html">Mat, fiskeri og landbruk</a></li>
													<li><a href="tema.html">Miljø</a></li>
													<li><a href="tema.html">Næringsliv</a></li>
													<li><a href="tema.html">Offentlig forvaltning</a></li>
													<li><a href="tema.html">Samfunnssikkerhet</a></li>
													<li><a href="tema.html">Transport og kommunikasjon</a></li>
													<li><a href="tema.html">Urfolk og minoriteter</a></li>
													<li><a href="tema.html">Utdanning og forskning</a></li>
													<li><a href="tema.html">Økonomi</a></li>
												</ul>
											</div>
										</div>

										<button type="button" class="closeButton" data-close-megamenu>
											<span class="visuallyhidden">Lukk meny</span>
										</button>
									</div>
								</div>
							</li>
							<li class="megaMenuItem">
								<a href="dokument.html" class="primaryMenuItem hasDropdown" id="megamenupanel_dokument_label" role="button" aria-controls="megamenupanel_dokument">
									Dokument
								</a>

								<div class="megamenupanel_listing" id="megamenupanel_dokument" aria-labelledby="megamenupanel_dokument_label" aria-expanded="false" data-megamenu-target>
									<div class="megamenuInner">
										<div class="border-frame">
											<p class="toSection"><a href="dokument.html">Alle dokument</a></p>

											<div class="section">
												<ul>
													<li><a href="">Statsbudsjettet</a></li>
													<li><a href="dokument.html?hoeringer">Høringer</a></li>
													<li><a href="dokument.html?proposisjoner">Proposisjoner til Stortinget</a></li>
													<li><a href="dokument.html?meldinger/">Meldinger til Stortinget</a></li>
													<li><a href="dokument.html?nou">NOU-er</a></li>
												</ul>

												<ul>
													<li><a href="">Brev til Stortinget</a></li>
													<li><a href="">Anbud</a></li>
													<li><a href="">Konsesjoner</a></li>
												</ul>

												<ul>
													<li><a href="">Lover og regler</a>
														<ul>
															<li><a href="">Forskrifter</a></li>
															<li><a href="">Retningslinjer og juridiske veiledninger</a></li>
															<li><a href="">Prinsipputtalelser og fortolkninger</a></li>
															<li><a href="">Reglement</a></li>
															<li><a href="">Rundskriv</a></li>
														</ul>
													</li>
												</ul>
											</div>
										</div>

										<div class="megamenu-extra-links">
											<a href="">Bestilling av publikasjoner</a>
										</div>

										<button type="button" class="closeButton" data-close-megamenu>
											<span class="visuallyhidden">Lukk meny</span>
										</button>
									</div>
								</div>
							</li>
							<li class="megaMenuItem">
								<a href="aktuelt.html" class="primaryMenuItem hasDropdown" id="megamenupanel_aktuelt_label" role="button" aria-controls="megamenupanel_aktuelt">
									Aktuelt
								</a>

								<div class="megamenupanel_listing" id="megamenupanel_aktuelt" aria-labelledby="megamenupanel_aktuelt_label" aria-expanded="false" data-megamenu-target>
									<div class="megamenuInner">
										<div class="border-frame">
											<p class="toSection"><a href="aktuelt.html">Alle aktueltsaker</a></p>

											<div class="section">
												<ul class="columnize">
													<li><a href="">Nyheter</a></li>
													<li><a href="">Taler og ytringer</a></li>
													<li><a href="">Nett-tv og video</a></li>
													<li><a href="">Pressesenter</a></li>
													<li><a href="">Kalender</a></li>
													<li><a href="">Dialog med Stortinget</a></li>
													<li><a href="">Offisielt fra statsråd</a></li>
													<li><a href="">Offentlig elektronisk postjournal</a></li>
												</ul>
											</div>
										</div>

										<div class="megamenu-extra-links">
											<a href="">Ledige stillinger</a>
										</div>

										<button type="button" class="closeButton" data-close-megamenu>
											<span class="visuallyhidden">Lukk meny</span>
										</button>
									</div>
								</div>
							</li>
							<li class="megaMenuItem">
								<a href="/prototype/departement/" class="primaryMenuItem hasDropdown" id="megamenupanel_departement_label" role="button" aria-controls="megamenupanel_departement">
									Departement
								</a>

								<div class="megamenupanel_departementene" id="megamenupanel_departement" aria-labelledby="megamenupanel_departement_label" aria-expanded="false" data-megamenu-target>
									<div class="megamenuInner">
										<div class="border-frame">
											<p class="toSection"><a href="departementene.html">Departement</a></p>

											<div class="section">
												<ul>
													<li>
														<a href="departement.html" class="dep-title">Statsministerens kontor</a>
														<a href="departement.html" class="dep-minister">Erna Solberg (H)</a>
													</li>
												</ul>

												<ul>
													<li>
														<a href="departement.html" class="dep-title">Arbeids- og sosialdepartementet</a>
														<a href="departement.html" class="dep-minister">Robert Eriksson (FrP)</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Barne-, likestillings- og inkluderingsdepartementet</a>
														<a href="departement.html" class="dep-minister">Solveig Horne</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Finansdepartementet</a>
														<a href="departement.html" class="dep-minister">Siv Jensen</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Forsvarsdepartementet</a>
														<a href="departement.html" class="dep-minister">Ine Eriksen Søreide</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Helse- og omsorgsdepartementet</a>
														<a href="departement.html" class="dep-minister">Bent Høie</a>
													</li>
												</ul>

												<ul>
													<li>
														<a href="departement.html" class="dep-title">Justis- og beredskapsdepartementet</a>
														<a href="departement.html" class="dep-minister">Anders Anundsen</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Kommunal- og moderniseringsdepartementet</a>
														<a href="departement.html" class="dep-minister">Jan Tore Sanner</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Kulturdepartementet</a>
														<a href="departement.html" class="dep-minister">Thorhild Widvey</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Kunnskapsdepartementet</a>
														<a href="departement.html" class="dep-minister">Torbjørn Røe Isaksen</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Klima- og miljøverndepartementet</a>
														<a href="departement.html" class="dep-minister">Tine Sundtoft</a>
													</li>
												</ul>

												<ul>
													<li>
														<a href="departement.html" class="dep-title">Landbruks- og matdepartementet</a>
														<a href="departement.html" class="dep-minister">Sylvi Listhaug</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Nærings- og fiskeridepartementet</a>
														<a href="departement.html" class="dep-minister">Monica Mæland</a>
														<a href="departement.html" class="dep-minister">Elisabeth Aspaker</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Olje- og energidepartementet</a>
														<a href="departement.html" class="dep-minister">Tord Lien</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Samferdselsdepartementet</a>
														<a href="departement.html" class="dep-minister">Ketil Solvik-Olsen</a>
													</li>
													<li>
														<a href="departement.html" class="dep-title">Utenriksdepartementet</a>
														<a href="departement.html" class="dep-minister">Børge Brende</a>
													</li>
												</ul>
											</div>
										</div>

										<button type="button" class="closeButton" data-close-megamenu>
											<span class="visuallyhidden">Lukk meny</span>
										</button>
									</div>
								</div>
							</li>
							<li class="megaMenuItem">
								<a href="/prototype/regjering/" class="primaryMenuItem hasDropdown" id="megamenupanel_regjering_label" role="button" aria-controls="megamenupanel_regjering">
									Regjering
								</a>

								<div class="megamenupanel_listing" id="megamenupanel_regjering" aria-labelledby="megamenupanel_regjering_label" aria-expanded="false" data-megamenu-target>
									<div class="megamenuInner">
										<div class="border-frame">
											<p class="toSection"><a href="/prototype/regjering/">Regjering</a></p>

											<div class="section">
												<ul class="columnize">
													<li>
														<a href="article2.html">Regjeringen Solberg</a>
														<ul>
															<li>
																<a href="/prototype/regjering/regjeringen_solberg/regjeringens_medlemmer.php">Regjeringens medlemmer</a>
															</li>
															<li>
																<a href="/prototype/regjering/tidligere_regjeringer/">Regjeringens satsingsområder</a>
															</li>
														</ul>
													</li>
													<li>
														<a href="">Slik blir Noreg styrt</a>
														<ul>
															<li>
																<a href="/prototype/regjering/tidligere_regjeringer/">Regjeringen i arbeid</a>
															</li>
															<li>
																<a href="/prototype/regjering/tidligere_regjeringer/">Kva skjer ved eit regjeringsskifte?</a>
															</li>
														</ul>
													</li>
													<li>
														<a href="">Tidligere regjeringer og historie</a>
														<ul>
															<li>
																<a href="/prototype/regjering/tidligere_regjeringer/norges_regjeringer_siden_1814.php">Norges regjeringer 1814 - </a>
															</li>
															<li>
																<a href="/prototype/regjering/tidligere_regjeringer/">Norske departementer og embeter 1814 - </a>
															</li>
															<li>
																<a href="/prototype/regjering/tidligere_regjeringer/">Personregister "Norges regjeringer siden 1814"</a>
															</li>
														</ul>
													</li>
													<li>
														<a href="">Historisk arkiv</a>
														<ul>
														</ul>
													</li>
												</ul>
											</div>
										</div>

										<button type="button" class="closeButton" data-close-megamenu>
											<span class="visuallyhidden">Lukk meny</span>
										</button>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>

				{{!-- <div class="breadcrumbsWrapper">
					<nav class="breadcrumbs" id="breadcrumbs_example">
						<h2 id="breadcrumbs-label" class="breadcrumbs-label">Du er her:</h2>
						<ul aria-labelledby="breadcrumbs-label">
							<li class="crumbItem">
								<a href="" role="button" aria-controls="crumb_1">
									regjeringen.no
								</a>
							</li>
							<li class="crumbItem">
								<a href="" role="button" aria-controls="crumb_4">
									Seksjon
								</a>
								<ul id="crumb_4" aria-expanded="false">
									<li>
										<a href="">Annen seksjon 1</a>
									</li>
									<li>
										<a href="">Annen seksjon 2</a>
									</li>
									<li>
										<a href="">Annen seksjon 3</a>
									</li>
								</ul>
							</li>
							<li class="crumbItem">
								<a href="#" role="button" aria-controls="crumb_692" class="last-crumb">
									Denne side
								</a>
								<ul id="crumb_692" aria-expanded="false">
									<li>
										<a href="">Annen side 1</a>
									</li>
									<li>
										<a href="">Annen side 2</a>
									</li>
									<li>
										<a href="">Annen side 3</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>

					<ul class="sharePrint">
						<li class="rss">
							<a href="" class="rss-icon">RSS</a>
							<div class="rss-note">
								Opprett et RSS-feed for denne listen. Ved å snevre inn søket på for eksempel innholdstype eller departement avgrenser du innholdet du abonnerer på.
							</div>
						</li>
						<li class="sharing">
							<label id="sharing_label" for="sharing_toggler" class="sharing-toggle" data-sharing-label="">Del/tips</label>
							<input type="checkbox" id="sharing_toggler" class="sharing-toggle-checkbox" data-toggle="[data-sharing-panel]" data-sharing-toggler="" aria-controls="sharing_panel">

							<div id="sharing_panel" class="sharing-panel" data-sharing-panel="" aria-labelledby="sharing_label">
								<p class="sharing-title">Tips en venn</p>
								<ul class="socialmedia_linklist">
									<li><a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.regjeringen.no%2Fno%2F_SIDE_" class="Facebook">Facebook</a></li>
									<li><a href="https://twitter.com/share?url=https%3A%2F%2Fwww.regjeringen.no%2Fno%2F_SIDE_" class="Twitter">Twitter</a></li>
									<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.regjeringen.no%2Fno%2F_SIDE_" class="Linkedin">LinkedIn</a></li>
									<li><a href="mailto:?subject=Tips%20fra%20regjeringen.no%3A%20_SIDETITTEL_&amp;body=https%3A%2F%2Fwww.regjeringen.no%2Fno%2F_SIDE_" class="email">Epost</a></li>
								</ul>
								<button title="Lukk" class="closeButton" data-toggle="[data-sharing-panel]" data-set-focus="[data-sharing-toggler]"></button>
							</div>
						</li>
						<li class="print">
							<button class="print-page" data-print-page>Skriv ut</button>
						</li>
					</ul>
				</div> --}}
			</div>
		</header>

		<div class="megaMenuOverlay" data-megamenu-overlay></div>

    <div class="top-serious-incident mainContentArea">
      <div class="top-serious-incident-inner">
        <p class="top-serious-incident-subtitle">Stikktittel</p>
        <div class="top-serious-incident-container">
          <div class="top-serious-incident-text">
            <h1 class="top-serious-incident-title">Alvorlig hendelse</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero officiis ipsum molestiae dolorem, quos voluptas provident eos, voluptate repellat maxime sapiente eum placeat. Minus officia odit obcaecati porro corporis.</p>
            <ul class="link-list">
              <li><a href="">Lenke</a></li>
              <li><a href="">Lenke</a></li>
            </ul>
          </div>
          {{!-- <div class="top-serious-incident-image">
            <img src="http://placehold.it/660x371" alt="Alternativ bildetekst" title="Bildet er 660x371px. Bildekreditering">
          </div> --}}
        </div>
      </div>
    </div>

		<main id="mainContent" role="main" tabindex="-1" class="mainContentArea">
      {{#block "body"}}
        <h1>Default body</h1>
      {{/block}}

      {{>molecule-to-top-of-page}}
		</main>

		{{>organism-page-survey}}

		<footer class="page-footer">
			<div class="wrapper">
				<div class="clearfix">
					<div class="col">
						<div class="logo">
							<a href="/">Regjeringen.no<span></span></a>
						</div>
					</div>

					<div class="col">
						<h2 class="title">
							<a href="">Om nettstedet</a>
						</h2>
						<ul class="link-list ">
							<li>
								<a href="/no/om-nettstedet/strategi-organisering-og-historikk-/id450433/">Formål, organisering og historikk </a>
							</li>
							<li>
								<a href="/no/om-nettstedet/innholdsstrategi/id2076583/">Innholdsstrategi for regjeringen.no</a>
							</li>
							<li>
								<a href="/no/om-nettstedet/statistikk/besokstatistikk-for--2016/id2480666/">Besøksstatistikk for 2016</a>
							</li>
							<li>
								<a href="/no/om-nettstedet/tilgjengelighet/id450484/">Tilgjengelighet</a>
							</li>
							<li>
								<a href="/no/om-nettstedet/personvernpolicy/id650340/">Personvernpolitikk</a>
							</li>
						</ul>
					</div>

					<div class="col">
						<p>Departementenes digitaliseringsorganisasjon,</p>
						<p>Postboks 8129 Dep, 0032 OSLO&nbsp;<br />Tlf: 22 24 90 90</p>
						<p><span>E-post:&nbsp;</span><a href="mailto:redaksjonen@dio.dep.no">redaksjonen@dio.dep.no</a><span>&nbsp;</span></p>
						<p>Ansatte i departementene (ikke FD), SMK, DSS og DIO:&nbsp;<a title="Ansatte i dep. og SMK" href="https://depkatalog.no/">Depkatalog</a></p>
						<p>Org.nr. 974 761 424</p>
					</div>
				</div>
			</div>
		</footer>

		{{> javascripts }}
		{{#block "scripts"}}
			{{! Scripts from templates }}
		{{/block}}
	</body>
</html>
