<div 
    class="map" 
    data-tile='http://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers=norges_grunnkart&zoom={z}&x={x}&y={y}' 
    data-map-id="map1" 
    data-map='{
"features": [
{
"geometry": {
"coordinates": [
[
10.669341998188761,
59.9124695556866
],
[
10.687583351866431,
59.901337134289875
]
],
"type": "LineString"
},
"id": "92ac1ea8-0727-bb28-5344-f6536085463e",
"properties": {
"measurement": "1.602 km",
"style": {
"stroke": {
"color": "#FF0000",
"lineDash": [
15,
0
],
"width": 2
}
}
},
"type": "Feature"
},
{
"geometry": {
"coordinates": [
[
10.687583351866431,
59.901337134289875
],
[
10.681574207629579,
59.913569025355145
]
],
"type": "LineString"
},
"id": "0422c6fb-6057-d73a-7bdb-b02857b3882f",
"properties": {
"measurement": "1.401 km",
"style": {
"stroke": {
"color": "#FF0000",
"lineDash": [
15,
0
],
"width": 2
}
}
},
"type": "Feature"
},
{
"geometry": {
"coordinates": [
10.676580645686661,
59.90100778689033
],
"type": "Point"
},
"id": "826e31d9-e66f-956f-96c2-11b72a204a5a",
"properties": {
"style": {
"regularshape": {
"fill": {
"color": "#FF0000"
},
"points": 64,
"radius": 21
}
}
},
"type": "Feature"
}
],
"type": "FeatureCollection"
}'
>
    <div class="map-actions" data-map-actions>
        <button class="btn-zoom" data-map-enlarge>Åpne forstørret kart</button>
    </div>
    <div class="map-world-wrapper">
        <div class="map-world" data-map-world></div>
    </div>
    <div class="map-description">Kartverket-kart.</div>
</div>