<div id="fb-root"></div>
<div class="fb-page-wrapper" data-fb-page-wrapper>
	{{#each pages}}
	<div class="fb-page" 
		data-href="{{href}}" 
		data-small-header="false" 
		data-width="500" 
		data-adapt-container-width="true" 
		data-hide-cover="false" 
		data-show-facepile="true"><blockquote cite="{{href}}" class="fb-xfbml-parse-ignore"><a href="{{href}}">Facebook side til {{title}}</a></blockquote></div>
	{{/each}}
</div>